{# src/FD/LivrederecettesBundle/Resources/views/Menu/addMenu.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter un menu
{% endblock %}
    
{% block fdalivrederecettes_body %}
    <h4>Formulaire pour l'ajout d'un nouveau menu</h4>
    {% include "FDLivrederecettesBundle:Menu:formAddMenu.html.twig" %}
    <p>
        <a href="{{ path('livrederecettes_listMenus') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste des menus
        </a>
    </p>
{% endblock %}
