{# src/FD/LivrederecettesBundle/Resources/views/Menu/modifyMenu.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier le menu
{% endblock %}
    
{% block fdalivrederecettes_head %}
    <h4 class="panel-title">Modification d'un menu</h4>
{% endblock %}
    
{% block fdalivrederecettes_body %}
    {% include "FDLivrederecettesBundle:Menu:formModMenu.html.twig" %}
    <p>
        <a href="{{ path('livrederecettes_viewMenu', {'id': menu.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la fiche du menu
        </a>
    </p>
{% endblock %}
