{# src/FD/LivrederecettesBundle/Resources/views/Livrederecettes/error.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Confirmer suppression du type de produit
{% endblock %}
    
{% block fdalivrederecettes_body %}

    <h3 class="alert"> Erreur! </h3>

{% endblock %}