
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Dernières recettes</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for recipe in recipies %}
                <li><a href="{{ path('livrederecettes_viewRecipe', {'id': recipe.id}) }}">{{ recipe.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>