
<ul class="nav nav-pills nav-stacked">
    <li><h4>Dernières recettes</h4></li>
    {% for recipe in recipies %}
        <li><a href="{{ path('livrederecettes_viewRecipe', {'id': recipe.id}) }}">{{ recipe.title }}</a></li>
    {% endfor %}
</ul>