{# src/FD/LivrederecettesBundle/Resources/views/MealType/addMealType.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter un type de repas
{% endblock %}
    
{% block fdalivrederecettes_body %}
    <h4>Formulaire pour l'ajout d'un nouveau type de repas</h4>
    
    {% include "FDLivrederecettesBundle:MealType:formMealType.html.twig" %}
{% endblock %}
