{# src/FD/LivrederecettesBundle/Resources/views/MealType/listMealTypes.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Liste des types de repas
{% endblock %}

{% block fdalivrederecettes_head %}
    <h4 class="panel-title">Liste des types de repas présents dans le système</h4>
{% endblock %} 

{% block fdalivrederecettes_body %}
    <ul>
        {% for mealType in listMealTypes %}
            <li>
                <a href="{{ path('livrederecettes_viewMealType', {'id': mealType.id}) }}">{{ mealType.name }}</a>
            </li>
        {% else %}
            <li>Pas (encore !) de types de repas dans le système!</li>
        {% endfor %}
    </ul>
    
    <a class="btn btn-small btn-primary" href="{{ path('livrederecettes_addMealType') }}"><i class="glyphicon glyphicon-plus"></i> Ajouter un type de repas</a>
{% endblock %}
