{# src/FD/LivrederecettesBundle/Resources/views/Recipe/modifyRecipe.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier la recette
{% endblock %}
    
{% block fdalivrederecettes_body %}
    <h4>Modification d'une recette</h4>
    
    {% include "FDLivrederecettesBundle:Recipe:formModRecipe.html.twig" %}
       
    <p>
        <a href="{{ path('livrederecettes_viewRecipe', {'id': recipe.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la fiche de la recette
        </a>
    </p>
{% endblock %}