{# src/FD/LivrederecettesBundle/Resources/views/Unit/addUnit.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter une unité de mesure
{% endblock %}
    
{% block fdalivrederecettes_body %}
    <h4>Formulaire pour l'ajout d'une nouvelle unité de mesure</h4>
    
    {% include "FDLivrederecettesBundle:Unit:formUnit.html.twig" %}
    
{% endblock %}
