{# src/FD/LivrederecettesBundle/Resources/views/Type/formType.html.twig #}
 
{# Ici on laisse vide la vue pour l'instant, on la comblera plus tard lorsqu'on saura afficher un formulaire. #}
<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-large" />
    {% if type is null %}
        <a href="{{ path(url_cancel) }}"><input type="button" class="btn-large" value="Annuler" /></a>
    {% else %}
        <a href="{{ path(url_cancel, {'id': type.id}) }}"><input type="button" class="btn-large" value="Annuler" /></a>
    {% endif %}
  </form>
</div>
